/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/proposal_files
/public/storage
/public/contracts
/public/attachments
/storage/app/public
/storage/app/uploads
/storage/*.key
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.jsonq
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
