/* Định nghĩa các lớp CSS cho màu sắc của các phần tử */
.vis-item {
    border-radius: 4px;
}

.vis-item.low {
    background-color: red;
}

.vis-item.medium {
    background-color: orange;
}

.vis-item.high {
    background-color: green; 
}
